<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <section th:fragment="listadoIndex" id="recetas">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">[[#{index.nuestrosArticulos}]]</h2>
                    <div id="resultsBlock">
                    </div>
                </div>
                <div class="row row-cols-3" 
                     th:if="${recetas != null and !recetas.empty}">

                    <div class="card" th:each="receta : ${recetas}">
                        <a style="color: black; text-align:center " class="" th:href="@{/receta/mostrar/} +${receta.idReceta}">

                        <div class="card-body">
                            <h3 class="card-title">[[${receta.nombre}]]</h3>
                            <img th:src="${receta.imagen}" width="250"/>                                        

                            <h5 class="card-title">
                                    [[${receta.descripcion}]]
                                </h5>
                            <h6 class="card-title">
                                    [[${receta.ingredientes}]]
                                </h6>
                            <form>
                                <input type="hidden" name="texto" th:value="${receta.idReceta}"/>
                                
                            </form>
                            <p class="card-text">-Publicado por: [[${receta.cliente.nombre}]] [[${receta.cliente.apellidos}]]</p>    


                        </div>
                                                 </a>
                    </div>
                         
                </div>
                                            

                <div th:if="${recetas == null or recetas.empty}">
                </div>
            </div>
        </section>

        <section th:fragment="mostrarReceta">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">[[#{index.nuestrosArticulos}]]</h2>
                    <div id="resultsBlock">
                    </div>
                </div>
                <div class="row row-cols-2" >
                    <div class="card" th:object="${receta}">
                        
                        <div class="card-body">
                            <h3 class="card-title">[[${receta.nombre}]]</h3>
                            <br/>                            
                            <h4 class="card-title">
                                    [[${receta.descripcion}]]
                                </h4>
                            <h6 class="card-title">
                                    [[${receta.ingredientes}]]
                                </h6>
                            <form>
                                <input type="hidden" name="texto" th:value="${receta.idReceta}"/>
                            <br/>                            

                            </form>
                            <p class="card-text">[[${receta.preparacion}]]</p> 
                            
                        </div>
                    </div>
               
                <div class="row row-cols-1" >
                    <div class="card" th:object="${receta}">
                        
                        <div class="card-body">
                        <img th:src="${receta.imagen}" width="400"/>                                        
                        <p class="card-text">Publicado por: [[${receta.cliente.nombre}]] [[${receta.cliente.apellidos}]]</p>    

                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
                 </div>
        </section>
        


  
        <!-- 3 Sección principal para mostrar la informacion de la entidad receta -->
        <section th:fragment="listadoRecetas" id="recetas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Recetas</h4></div>
                            <div th:if="${recetas != null and !recetas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>nombre</th>
                                            <th>descripcion</th>
                                            <th>ingredientes</th>
                                            <th>preparacion</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="receta, contador : ${recetas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${receta.nombre}]]</td>
                                            <td>[[${receta.descripcion}]]</td>
                                            <td>[[${receta.ingredientes}]]</td>
                                            <td>[[${receta.preparacion}]]</td>
                                            <td><a th:href="@{/receta/eliminar/}+${receta.idReceta}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/receta/modificar/}+${receta.idReceta}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${recetas == null or recetas.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total Recetas</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalRecetas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarReceta">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/receta/guardar}" th:object="${receta}"
                          class="was-validated">
                        <input type="hidden" name="idReceta" th:field="*{idReceta}"/>
                        <section th:replace="~{receta/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{receta.nombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{receta.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ingredientes">[[#{receta.ingredientes}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="ingredientes" th:field="*{ingredientes}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="preparacion">[[#{receta.preparacion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="preparacion" th:field="*{preparacion}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{receta.imagen}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="imagen" th:field="*{imagen}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="idCliente">[[#{cliente.idCliente}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="idCliente" th:field="*{cliente.idCliente}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/receta/mostrarAdmin}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/receta/eliminar/}+${receta.idReceta}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

<!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarReceta">
                            <i class="fas fa-plus"></i> Agregar receta
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="agregarReceta">
            <div id="agregarReceta" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{cliente.agregar}]]</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/receta/guardar}" th:object="${receta}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{cliente.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{cliente.apellidos}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="ingredientes">[[#{cliente.correo}]]</label>
                                    <input type="text" class="form-control" name="ingredientes" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="preparacion">[[#{cliente.telefono}]]</label>
                                    <input type="text" class="form-control" name="preparacion">
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{cliente.telefono}]]</label>
                                    <input type="text" class="form-control" name="imagen">
                                </div>
                                <div class="mb-3">
                                    <label for="idCliente">[[#{cliente.telefono}]]</label>
                                    <input type="number" class="form-control" name="cliente.idCliente">
                                </div>
                            </div>
                            <div class="modal-footer" sec:authorize="hasRole('ROLE_ADMIN')">
                                <button class="btn btn-primary" type="submit">[[#{accion.agregar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informacion de la entidad categoria -->
        <section th:fragment="listadoRecetaAdm" id="recetas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Receta</h4></div>
                            <div th:if="${recetas != null and !recetas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>nombre</th>
                                            <th>descripcion</th>
                                            <th>ingredientes</th>
                                            <th>preparacion</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="receta, contador : ${recetas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${receta.nombre}]]</td>
                                            <td>[[${receta.descripcion}]]</td>
                                            <td>[[${receta.ingredientes}]]</td>
                                            <td>[[${receta.preparacion}]]</td>
                                            <td><a th:href="@{/receta/eliminar/}+${receta.idReceta}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/receta/modificar/}+${receta.idReceta}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Modificar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${recetas == null or recetas.empty}">
                                <span>Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total recetas</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalRecetas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





