<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>DelaCasa</title>
    </head>
    <body style="background-color: #c8e1cf">
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{receta/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{receta/fragmentos :: agregarReceta}"/> 
        <section th:replace="~{receta/fragmentos :: listadoRecetaAdm}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
